.dashboardbanners-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;
    margin-left: 200px;
    padding: 1rem;
    gap: 1rem;
}

.dashboardbanners-wrapper div img {
    width: 40vw;
    padding-bottom: 1rem;
}

.dashboardbanners-card {
    background-color: hsl(240, 5%, 90%);
    padding: 1rem 1rem 0 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.dashboardbanners-card div p {
    font-weight: bold;
}

.dashboardbanners-buttons {
    display: flex;
    gap: 1rem;
}

.dashboardbanners-buttons button {
    width: 100px;
    color: white;
    transition: all 0.2s ease-in-out;
}
.dashboardbanners-buttons button:first-child {
    background-color: green;
}
.dashboardbanners-buttons button:first-child:hover {
    background-color: hsl(120, 100%, 17%);
}
.dashboardbanners-buttons button:nth-child(2) {
    background-color: red;
}
.dashboardbanners-buttons button:nth-child(2):hover {
    background-color: hsl(0, 100%, 42%);
}