.body-wrapper {
    /* width: 90%; */
    /* margin: auto; */
    padding: 1rem;
}

.body-wrapper img {
    width: 250px;
    height: 100%;
}

.body-wrapper h2 {
    border-bottom: 1px solid ;
    padding-bottom: 0.2rem;
}

.latest-news {
    display: flex;
    gap: 1rem;
}
.latest-news button {
    text-align: center;
    background-color: #E07F17;
    border: none;
    border-radius: 6px;
    color: white;
    padding: 0.2rem 0.8rem;
}

.inner-latest-news-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}