.mediakit-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;
    margin-left: 200px;
    padding: 1rem;
    gap: 1rem;
    /* background-color: red; */
}

.mediakit-container {
    display: flex;
    gap: 2rem;
}

.p-button {
    background: #E07F17;
    border: 1px solid #E07F17;
}
.p-button:focus {
    box-shadow: 0 6px 12px #E07F17
}