.login-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 2rem;
  background-color: hsl(31, 81%, 98%);
}

.login-wrapper-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.login-wrapper h1 {
  text-align: center;
}

.login-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  width: 35vw;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0px 0px 5px 0px rgba(158, 158, 158, 0.8);
  gap: 2rem;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.login-form input {
  border: 1px solid rgba(128, 128, 128, 0.5);
  border-radius: 6px;
  height: 2.4rem;
  padding: 0 0.5rem;
  width: 100%;
}

.login-form input:focus {
  border-color: #E07F17;
  outline: none;
}

.login-form button {
  border: unset;
  background-color: #E07F17;
  border-radius: 6px;
  height: 2.4rem;
  color: white;
  width: 10rem;
  align-self: center;
  transition: all 0.2s ease-in-out;
}

.login-form button:hover {
  background-color: hsl(31, 81%, 42%)
}

.password-field {
  position: relative;
  display: flex;
  align-items: center;
}

.password-visibility-toggle {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

.inside-login-form {
  display: flex;
  gap: 1rem;
}


@media screen and (max-width: 500px) {
  .login-form input::placeholder {
    opacity: 1;
  }

  .login-body h1 {
    margin-bottom: 2rem;
  }

  .inside-login-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .login-wrapper {
    height: unset;
    margin: 1rem 0;
}
}

@media screen and (max-width: 1000px) {
  .login-body {
    width: 80%;
    gap: 0;
  }
  .login-wrapper-logo {
    margin-top: unset;
    
  }
}