.dashboardissues-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;
    margin-left: 200px;
    padding: 1rem;
    gap: 1rem;
    /* background-color: red; */
}

.btn-dashboard-issues {
    background-color: #E07F17;
    color: white;
}
.btn-dashboard-issues:hover {
    background-color: hsl(31, 81%, 43%);
    color: white;
}

.dashboardissues-issue-detail {
    display: flex;
    justify-content: space-between;
    padding-right: 4rem;
}

.table tbody tr td a {
    text-decoration: none;
}
.table tbody tr td a[a='Edit'] {
    color: green;
}
.table tbody tr td a {
    color: red;
}